.page{
  margin:1em auto 0px auto;
  height: max-content;
  min-height: 95vh;
  width: 90vw;
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
}

.element{
  display: block;
  width: 100%;
  height: fit-content;
}

.p{
  display: inline-block;
  padding: 1em 1em;
  font-size: 1.5em;
  color: #dddddd;
}

[contenteditable]{
  outline: 0px solid transparent;
}

button{
  border: none;
  background-color: rgb(50, 70, 50);
}

.removeButton{
  background-color: transparent;
  margin-left: 1rem;
  padding: 0.5em 0.5em;
  color: white;
  font-weight: 900;
}