.page{
  margin:1em auto 0px auto;
  height: max-content;
  min-height: 95vh;
  width: 90vw;
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
}

.para{
  display: block;
  padding: 1em 1em;
  width: 100%;
  font-size: 1.5em;
  color: #dddddd;
}

[contenteditable]{
  outline: 0px solid transparent;
}